
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#valine-vuepress-comment {
    max-width: 860px;
    margin: 0 auto;
    padding: 1rem 2.5rem;
}
