#valine-vuepress-comment {
  margin: 40px;
}
#main-title{
    font-size:2rem;
}
.home .hero img{
    max-height:500px
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}